In [151]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

## Data pre-processing

In [152]:
df = pd.read_csv('pre-processed_data.csv')
df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,0,1,1,111.944648,1,19,12,...,0,0,0,0,-1.963267,0,6.458112,0.511868,1.739133,Dropout
1,1,15,1,1,1,1,149.944648,1,1,3,...,0,6,6,6,11.703400,0,9.558112,-1.188132,0.789133,Graduate
2,1,1,5,2,1,1,111.944648,1,37,37,...,0,6,0,0,-1.963267,0,6.458112,0.511868,1.739133,Dropout
3,1,17,2,3,1,1,111.944648,1,38,37,...,0,6,10,5,10.436733,0,5.058112,-1.688132,-3.120867,Graduate
4,2,39,1,4,0,1,89.944648,1,37,38,...,0,6,6,6,11.036733,0,9.558112,-1.188132,0.789133,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,3,1,1,114.944648,1,1,1,...,0,6,8,5,10.703400,0,11.158112,1.911868,-4.060867,Graduate
4420,1,1,2,3,1,1,109.944648,105,1,1,...,0,6,6,2,9.036733,0,6.758112,-0.288132,2.019133,Dropout
4421,1,1,1,6,1,1,143.944648,1,37,37,...,0,8,9,1,11.536733,0,9.558112,-1.188132,0.789133,Dropout
4422,1,1,1,13,1,1,169.944648,1,37,37,...,0,5,6,5,10.036733,0,5.058112,-1.688132,-3.120867,Graduate
4423,1,10,1,3,1,1,141.944648,22,38,37,...,0,6,6,6,11.036733,0,8.358112,2.811868,-1.700867,Graduate

In [153]:
# Mapping target
def convert_sof_target(result: str) -> list:
    mapping = {'Dropout': 0, 'Enrolled': 1, 'Graduate': 2}
    
    if result in mapping:
        return mapping[result]
    
    raise ValueError('Not a valid label')

def convert_log_target(result : str) -> int:
    if (result == 'Dropout' or result == "Enroll"):
        return 0
    
    return 1

## Logistic regression

In [154]:
df1 = df.copy()
df1['Target'] = df1['Target'].apply(convert_log_target)
data1 = df1.to_numpy()
X = data1[:, :-1]
Y = data1[:, -1]

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size= 0.2, random_state= 16)

In [155]:
log_reg = LogisticRegression()
log_reg.fit(X_train,Y_train)
log_predicted = log_reg.predict(X_test)
acc = metrics.accuracy_score(Y_test, log_predicted)

print('Accuracy of logistic: ', acc)

Accuracy of logistic:  0.888135593220339

c:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# Softmax regression

In [156]:
df2 = df.copy()
df2['Target'] = df2['Target'].apply(convert_sof_target)
data2 = df2.to_numpy()
X = data2[:, :-1]
Y = data2[:, -1]

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size= 0.2, random_state= 16)

In [157]:
sof_reg = LogisticRegression(multi_class='multinomial')
sof_reg.fit(X_train,Y_train)
sof_predicted = log_reg.predict(X_test)
acc = metrics.accuracy_score(Y_test, sof_predicted)

print('Accuracy of softmax: ', acc)

Accuracy of softmax:  0.40225988700564974

c:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(
c:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(